.site-footer {
  background: $clr_transparent;

  .inner {
    background: $clr_transparent;
    @extend %padding-vertical;
    @extend %padding-horizontal;
    @extend %grid;
    @extend %grid_row;
    @extend %align-center;
    @extend %justify-between;
    @extend %bobby;
    color: $clr_boulder;

    h1 {
      display: inline;
      font-size: inherit;
      font-style: normal;
    }

    cite {
      font-style: normal;
    }

    a {
      @extend %text-link;
    }
  }
}