$hero_width: 100%;
$hero_height: 100vh;

// Unchanging appearance settings
.hero_container {
  width: $hero_width;
  height: $hero_height;
  position: relative;
  @extend %grid;
}

.hero_container {
  position: relative;
  width: $hero_width;
  height: $hero_height;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: $hero_width;
    height: $hero_height;
    object-fit: cover;
    transition: opacity $ease-main $speed-slow;

    &.hero-thumb {
      z-index: 1;
    }

    &.hero-full {
      z-index: 0;
    }

    &.hide {
      opacity: 0;
    }
  }
}