%teaser {
  @extend %grid;
  @extend %grid_column;
  @extend %align-stretch;
  @extend %justify-start;
  @media screen and (max-width: $content-width) {
    display: block !important;
    width: 100% !important;
  }
  position: relative;
}

.teaser_container {
  @extend %central-column;
  font-size: 0;
  .teaser_container-column {
    @extend %grid;
    @extend %grid_row;
    @extend %grid_wrap;
    @extend %align-stretch;
    @extend %justify-between;
    width: 100%;
  }
  @media screen and (min-width: $breakpoint-min) {
    display: flex;
  }
}

.tease {
  @extend %card;
  @extend %teaser;
  width: calc(33.33% - 2rem);
  margin: 0.5rem;
  flex-grow: 1;
  overflow: hidden;
  .hero_container {
    height: 15rem;
    img {
      height: 15rem;
    }
  }
  .content_container {
    padding: 0.5rem 1rem;
    .title,
    .title a {
      @extend %christopher;
      color: $clr_black;
      text-decoration: none;
    }
  }
  footer {
    margin-top: auto;
    display: block;
  }
  .title {
    margin-top: 1em;
    a {
      @extend %christopher;
      color: $clr_black;
      text-decoration: none;
    }
  }
  .content {
    .read-more {
      display: none;
    }
  }
}

.tease:nth-of-type(1) {
  width: calc(66.66% - 2rem);
}

.tease:nth-of-type(3) {
  width: calc(100% - 2rem);
}

.tease:nth-of-type(4),
.tease:nth-of-type(5) {
  width: calc(50% - 2rem);
}
