{% extends "base.twig" %}

{% block content %}
	<h2 class="section-title central-column">{{title}}</h2>
	{% if description %}
		<article class="central-column card" id="post-{{post.ID}}">
			{{description}}
		</article>
	{% endif %}
	{% include "partial/gallery.twig" with {
      items: items
    } %}
	<!-- /content-wrapper -->
{% endblock %}
