<footer class="site-footer" data-role="page footer" aria-label="Page footer and colophon">
    <div class="inner">
        <small>
            &copy; 2017 -
            <time>{{"now"|date('Y')}}</time>
            <h1>
                <cite>{{site.name}}</cite>
                |
                {{site.description}}
            </h1>
        </small>
    </div>
</footer>
<script src="{{theme.link}}/js/app.js"></script>