<footer class="site-footer" data-role="page footer" aria-label="Page footer and colophon">
	<div class="central-column">
		<small>
			&copy; 2017 -
			<time>{{"now"|date('Y')}}</time>
			<cite>{{site.name}}</cite>
			|
			{{site.description}}
		</small>
	</div>
</footer>
<script src="{{theme.link}}/js/app.js"></script>
