<footer class="site-footer" data-role="page footer" aria-label="Page footer and colophon">
    <div class="inner">
        <small>
            <span>
                &copy; 2017 -
                <time>{{"now"|date('Y')}}</time>
                <cite>{{site.name}}</cite>
            </span>
            |
            <span>{{site.description}}</span>
            |
            <span>
                <a class="text-link" href="https://creativecommons.org/licenses/by-nc-nd/3.0/legalcode" target="_blank" rel="nofollow noopener">Creative Commons: CC BY-NC-ND 3.0</a>
            </span>
        </small>
    </div>
</footer>
<script src="{{theme.link}}/js/app.js"></script>