{% extends "base.twig" %}

{% block content %}
    {% include "partial/carousel.twig" %}
    <h1 class="section-title">Why
        <strong>J &amp; J Woodcraft</strong>?
    </h1>
    <article class="content-wrapper post-type-{{post.post_type}}" id="post-{{post.ID}}">
        {{post.content}}
    </article>
    <h2 class="section-title">Gallery</h2>
    {% include "partial/gallery.twig" %}
    <!-- /content-wrapper -->
{% endblock %}