{% extends "base.twig" %}

{% block content %}
	<h2 class="section-title central-column">{{title}}</h2>
	<article class="central-column card" id="post-{{post.ID}}">
		{{post.content}}
	</article>
	{% include "partial/gallery.twig" with {
      items: gallery
    } %}
	<!-- /content-wrapper -->
{% endblock %}
