{% extends "base.twig" %}

{% block content %}
	{% include 'partial/hero-image.twig' %}
	<article class="central-column content-width">
		<h1 class="section-title">{{ post.title }}</h1>
		{{post.content}}
	</article>
	{% include 'partial/cta.twig' %}
{% endblock %}
