{% extends "base.twig" %}

{% block content %}
    {% include 'partial/hero-image.twig' %}
    <article class="card">
        <header class="content-wrapper">
            <h1 class="section-title">{{ post.title }}</h1>
        </header>
        <div class="content-wrapper">
            {{post.content}}
        </div>
    </article>
{% endblock %}