<figure class="card tease">
	<a href="{{image.link}}" title="{{image.post_title}}">
		{% include 'atoms/image.twig' with {
      'image' : image.thumbnail,
      'size': 'medium'
    } %}
		<figcaption>{{image.post_title}}</figcaption>
	</a>
</figure>
