// Grayscale
$clr_black: #040404;
$clr_mineshaft: #343434;
$clr_boulder: #646464;
$clr_silver: #c4c4c4;
$clr_wildsand: #f4f4f4;
$clr_white: #ffffff;
// Utility
$clr_success: #62b741;
$clr_warning: #fdba01;
$clr_failure: #e53e3c;
// Brand hierarchy
$clr_brand-primary: #199900;
$clr_brand-secondary: #632f00;
// Transparencies
$clr_transparent: rgba(255,
255,
255,
0); // White with zero opacity works best in Safari
$clr_black-75: rgba($clr_black, 0.75);
// Gradients
$clr_gradient-dark: linear-gradient($clr_transparent 50%,
$clr_transparent 50%,
$clr_black-75 100%);