.page {
  main {
    .content-wrapper {
      :not(img) {
        @extend %central-column;
      }

      p {
        @extend %richie;
        display: block;
        margin-bottom: 1em;
      }

      img {
        display: block;
        width: 80vw;
        max-width: 100%;
        height: auto;
        margin: 1rem auto;
      }
    }
  }
}

.seo-title {
  position: absolute;
  left: -50000px;
}