.page {
  main {
    .content-wrapper {
      @extend %central-column;
      @extend %padding-horizontal-narrow;

      p {
        @extend %richie;
        color: $clr_mineshaft;
        display: block;
        margin-bottom: 1.6em;
      }

      img {
        display: block;
        max-width: calc(100% + 10rem);
        height: auto;
        margin: 1rem -5rem;
      }
    }
  }
}