.page {
  main {
    .content-wrapper {
      :not(img) {
        @extend %central-column;
      }

      p {
        @extend %richie;
        color: $clr_mineshaft;
        display: block;
        margin-bottom: 1.6em;
      }

      img {
        display: block;
        width: 75vw;
        max-width: 100%;
        height: auto;
        margin: 1rem auto;
      }
    }
  }
}