@import 'masthead';
@import 'footer';
@import 'cta';

.nav_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

  nav:not(:first-of-type) {
    margin-left: 1rem;
  }

  nav {
    ul {
      li {
        display: block;
        width: 100%;
        font-family: 'Arima Madurai', serif;
        font-size: 1rem;

        &:hover {
          background-color: dimgray;
        }

        a,
        span {
          display: block;
          padding: 1.5em;
          color: white;
          text-decoration: none;
        }
      }
    }

    &.drop-down {
      [data-action="toggle-nav"]:after {
        content: "↓";
      }

      [data-active="true"] {
        [data-action="toggle-nav"]:after {
          content: "↑";
        }
      }

      >ul li {
        position: relative;
        z-index: 100;

        ul {
          background-color: black;
          min-width: 100%;
          position: absolute;
          top: -55000px;
        }

        &[data-active="true"] ul {
          top: auto;
          right: 0;
        }
      }
    }
  }
}