<div class="post-meta">
    <ul>
        {% for category in post.categories %}
            <li>
                <a href="{{category.link}}">{{category.name}}</a>
            </li>
        {% endfor %}
    </ul>
</div>