<section class="cta">
	<article class="central-column content-width">
		<p>
			{{ctaCopy}}
		</p>

		<p>
			<strong>Contact:</strong>
			<a href="mailto:info@jjwoodcraft.co.uk?subject={{post.post_title}}">info@jjwoodcraft.co.uk</a>
		</p>
	</article>
</section>
