@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  color: black;
  font-size: 1.25rem;
  line-height: 1.8em;
}

.central-column {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 5vw;
}

.content-width {
  max-width: max-content;
}

.tease_container {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
}

.tease {
  flex-basis: 420px;
  flex-grow: 999;
  margin: 1rem;
  transition: transform ease 300ms;
  overflow: hidden;

  &:hover {
    transform: scale(1.025);

    figcaption {
      color: dimgray;
    }
  }

  img {
    width: 100%;
    height: auto;
    margin: auto;
    font-size: 0.875rem;
  }

  a {
    text-align: center;
    text-decoration: none;

    figcaption {
      padding: 1rem;
      font-family: 'Arima Madurai', serif;
      color: black;
      transition: color ease 300ms;
    }
  }
}

.carousel_container {
  position: relative;
  width: 100%;
  height: 60rem;
  max-height: 66vh;
  margin: 0;
  overflow: hidden;

  .carousel_track {
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 0;

    &[data-animate="true"] {
      transition: ease-in-out 600ms;
    }
  }

  figure {
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 100%;


    img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 1000%;
      max-height: 1000%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.section-title {
  position: relative;
  font-family: 'Arima Madurai', serif;
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  margin-top: 1.8em;
  margin-bottom: 1em;
  text-shadow: 0 0 4px whitesmoke;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  &:before,
  &:after {
    content: "";
    height: 0.0625rem;
    background-color: rgba(0, 0, 0, 0.15);
    width: 50%;
    max-width: 5rem;
  }

  &:before {
    right: 100%;
    margin-right: 1rem;
  }

  &:after {
    left: 100%;
    margin-left: 1rem;
  }
}

.hero_container {
  text-align: center;
  padding: 2rem;

  img {
    width: 100%;
    height: auto;
    max-height: 66vh;
    margin: auto;
  }

  figcaption {
    font-size: 0.875rem;
    color: dimgray;
  }
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
}

p img {
  height: auto;
}

.homepage-hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: auto;

  [role="presentation"] {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    max-width: 1000%;
    max-height: 1000%;
    object-fit: cover;
    object-position: center;
  }

  .hero-logo {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
  }
}