// Include all of the things!
@import "config/all"; // Site configuration. Contains variables and reusable code.
@import "atoms/all"; // All of the smallest bits that make up a layout: button, input, etc.
@import "molecules/all"; // Things that are made up of atoms; think a form or a card.
@import "organisms/all"; // Things made up of molecules. We're talking pages, site-header, that sort of thing.
@import "shame/all"; // The seedy underbelly of the internet. You shall never speak of what you see here.

body {
  font-family: $font_face-main;
  font-size: 1rem;
}

.content-wrapper {
  font-size: 1rem;
  max-width: 60ch;
  margin: 1rem auto;
}